*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.x p {
    color: red;
}

body {
    background: linear-gradient(#ef476f, #ffd166);
    height: 2000px;
}

#top {
    position: fixed;
    bottom: -60px;
    right: 20px;
    background-color: #000;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 35px;
    transition: all 0.3s ease;
}

#top i {
    color: #fff;
    margin: 0;
    position: relative;
    right: 16px;
    top: 14px;
    transition: all 0.3s ease;
}

#top:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#top i:hover {
    top: 5px;
}
